/* Global Styles */
body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #E5E0FF;
}

/* Navigation Bar */
nav {
  background-color: #8EA7E9;
  color: #fff;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  background-color: #7286D3;
  color: #fff;
  border-radius: 4px;
}

/* Home Section */
#home {
  background-color: rgba(255, 242, 242, 0.9);
  padding: 100px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Services Section */
#services {
  background-color: rgba(255, 242, 242, 0.9);
  padding: 50px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.service {
  margin-bottom: 30px;
  background-color: #FFF2F2;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: all 0.3s ease;
}

.service:hover {
  transform: translateY(-5px);
}

.service h3 {
  color: #7286D3;
  margin-top: 0;
}

/* Contact Section */
#contact {
  background-color: #E5E0FF;
  padding: 50px;
  text-align: center;
  border-radius: 8px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background-color: #8EA7E9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: #7286D3;
}

/* Footer */
footer {
  background-color: #7286D3;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.slider-nav {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.slider-prev,
.slider-next {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 20px;
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
}

